
.App {
  background-color: white;
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

.derecha{
  background-color: white;
  width: 1000px;
  height: 100px;
  box-sizing: border-box;
  margin: 5px;
  padding: 15px;
  text-align: center;
}

.izquierda{
  background-color: antiquewhite;
  width: 1000px;
  height: 300px;
  box-sizing: border-box;
  margin: 5px;
  padding: 15px;
  text-align: center;
}

.carrousel{
  background-color: white;
  box-sizing: border-box;
  margin: 10px;
  padding: 15px;
  text-align: center;
}

.contenido {
  background-color: white;
  box-sizing: border-box;
  border: 1 px solid #d9d9d9;
  height: 50vh;
  margin: 5px;
  padding: 15px;
  display: flex;
  
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

#logo{
  align-content: center;
  height: 100px;
  width: 100px;
}

.div-img{
  align-content: center;
  text-align: center;

}

#beta{
  height: 600px;
  width: 50px;
}

#peces{
  height: 600px;
  width: 500px;
}

#uwu{
  height: 600px;
  width: 50px;
}